<template>
  <DefaultForm :header="header" :onSearch="search" :ref="refDF" :type-search="[1, 1, 0]" :reset-modal="resetForm">
    <template slot="search">
      <b-row>
        <b-col md="3">
          <b-card no-body class="bg-primary">
            <b-card-body class="pb-0">
              <h4 class="mb-0">9.823</h4>
              <p>Tổng số lượng mã</p>
            </b-card-body>
          </b-card>
        </b-col>
        <b-col md="3">
          <b-card no-body class="bg-success">
            <b-card-body class="pb-0">
              <h4 class="mb-0">4.351</h4>
              <p>Mã đã sử dụng</p>
            </b-card-body>
          </b-card>
        </b-col>
        <b-col md="3">
          <b-card no-body class="bg-warning">
            <b-card-body class="pb-0">
              <h4 class="mb-0">1.823</h4>
              <p>Mã đang yêu cầu</p>
            </b-card-body>
          </b-card>
        </b-col>
        <b-col md="3">
          <b-card no-body class="bg-danger">
            <b-card-body class="pb-0">
              <h4 class="mb-0">2.421</h4>
              <p>Mã bị từ chối</p>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
      <b-row>

        <b-col md="4">
          <div class="form-group">
            {{$t('company.regPack.packType')}}
            <v-select :options="optionsPackType" v-model="packTypeSelected" label="name"
                      :placeholder="$t('company.regPack.packType')"></v-select>
          </div>
        </b-col>

        <b-col md="4">
          <div class="form-group">
            {{$t('company.regPack.status')}}
            <v-select :options="optionsStt" v-model="sttSearch" label="name" :clearable="false"></v-select>
          </div>
        </b-col>

        <b-col md="4">
          <div class="form-group">
            {{$t('company.regPack.time')}}
            <date-picker v-model="searchDate" range confirm style="width: 100%" :lang="lang"
                         :format="formatLang"></date-picker>
          </div>
        </b-col>
      </b-row>
    </template>
    <template slot="viewData">
      <b-table responsive :items="tblData" :fields="fields" striped bordered hover
               caption-top>
        <template slot="packName" slot-scope="data">
          {{data.item.packType.name}}
        </template>
        <template slot="quantity" slot-scope="data">
          {{data.item.packType.quantity.toLocaleString()}}
        </template>
        <template slot="amount" slot-scope="data">
          {{data.item.packType.amount.toLocaleString() + ' VNĐ'}}
        </template>
        <template slot="stt" slot-scope="data">
          <b-badge :variant="getVariantStatus(data.item.status)">{{getStatus(data.item.status)}}</b-badge>
        </template>
        <template slot="action" slot-scope="data">
          <b-link @click="clickDownload(data.item)" v-b-tooltip :title="$t('company.regPack.table.clDownload')" v-if="data.item.status === 'PAID' || data.item.status === 'APPROVED'"><span
            class="fa fa-download"></span></b-link>
        </template>
      </b-table>
    </template>
    <template slot="modal">
      <div class="col-md-12">
        <b-row>
          <b-col md="12" class="form-group">
            {{$t('company.regPack.modal.packType')}}
            <div ref="packTypeModalSelectedParent">
              <v-select :options="optionsPackType" label="name" v-model="packTypeModalSelected"></v-select>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="12" class="form-group">
            {{$t('company.regPack.modal.quantity')}}
            <b-form-input v-model="formModal.quantity" disabled></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="12" class="form-group">
            {{$t('company.regPack.modal.amount')}}
            <b-form-input v-model="formModal.amount" disabled></b-form-input>
          </b-col>
        </b-row>
      </div>
    </template>
    <template slot="modal-button">

      <b-btn variant="success" @click="sendRequest()" :disabled="isRequesting">
        <span class="fa fa-spinner fa-spin" v-if="isRequesting"></span> {{$t('company.regPack.modal.btnSend')}}
      </b-btn>
      &nbsp;
      <b-btn variant="dark" @click="$refs[refDF].hideModal()">{{$t('company.regPack.modal.btnCancel')}}</b-btn>
    </template>
  </DefaultForm>
</template>

<script>
  import DefaultForm from "../../containers/DefaultForm";
  import API from '../../shared/API'

  export default {
    name: "RegisterPack",
    components: {
      DefaultForm,
      API
    },
    data() {
      return {
        header: this.$t('company.regPack.header'),
        refDF: this.$safeRef(),
        lang: this.$getLang(),
        formatLang: this.$getFormat(),
        currentPage: 0,
        searchDate: '',
        optionsPackType: [],
        optionsStt: [
          {id: 0, name: this.$t('company.regPack.stt.default'), key: 'ALL'},
          {id: 1, name: this.$t('company.regPack.stt.registered'), key: 'SENT'},
          {id: 2, name: this.$t('company.regPack.stt.rejected'), key: 'REJECTED'},
          {id: 3, name: this.$t('company.regPack.stt.approved'), key: 'APPROVED'},
          {id: 4, name: this.$t('company.regPack.stt.paid'), key: 'PAID'},
          {id: 5, name: this.$t('company.regPack.stt.deactive'), key: 'DEACTIVATE'},
        ],
        sttSearch: null,
        packTypeSelected: null,
        packTypeModalSelected: null,
        tblData: [],
        fields: [
          {key: 'rowNo', label: this.$t('company.regPack.table.no')},
          {key: 'packName', label: this.$t('company.regPack.table.packType')},
          {key: 'quantity', label: this.$t('company.regPack.table.quantity')},
          {key: 'amount', label: this.$t('company.regPack.table.amount')},
          {key: 'stt', label: this.$t('company.regPack.table.stt')},
          {key: 'action', label: ''},

        ],
        isRequesting: false,
        formModal: {
          id: '',
          quantity: '',
          amount: ''
        },
        validModal: [
          {
            property: 'packTypeModalSelected', error: [
              {type: 'NULL', errorDesc: 'Xin mời chọn loại gói', errorDesc_en: 'Please choose pack type'},
            ]
          },
        ],
      }
    },
    beforeMount() {
      let that = this;
      this.sttSearch = this.optionsStt[0];
      API.call_GET('packTypes/cbb', {}, function (res) {
        if (res.success) {
          that.optionsPackType = res.list;
        }
      });
    },

    mounted(){
      this.search(0, 10);
    },

    methods: {
      search: function (pageNum, pageSize) {
        this.currentPage = pageNum;
        let rq = {
          page: pageNum,
          size: pageSize,
          packTypeId: this.packTypeSelected == null ? 0 : this.packTypeSelected.id,
          status: this.sttSearch.id,
          companyId: 0,
          fromDate: this.moment(this.searchDate[0]).format('DD/MM/YYYY HH:mm:ss'),
          toDate: this.moment(this.searchDate[1]).format('DD/MM/YYYY HH:mm:ss'),
          companyName: ''
        };
        let that = this;
        API.call_GET('packs', rq, function (res) {
          that.$refs[that.refDF].unlock();
          if (res.success) {
            that.tblData = res.list;
            that.$refs[that.refDF].setTotal(res.totalElements);
          }
          else {
            that.$error(res.message);
          }
        }, function (res) {
          that.$refs[that.refDF].unlock();
        });

      },

      getStatus(stt) {
        return this.optionsStt.filter(function (ob) {
          return stt == ob.key;
        })[0].name;
      },

      getVariantStatus(stt) {
        if (stt === 'SENT') return 'secondary';
        if (stt === 'REJECTED') return 'warning';
        if (stt === 'APPROVED') return 'info';
        if (stt === 'PAID') return 'success';
        if (stt === 'DEACTIVATE') return 'danger';
        return '';
      },

      sendRequest() {
        if (!this.$valid(this.validModal)) return;
        let rq = {
          packType: this.packTypeModalSelected.id,
          name: 'Goi test'
        };
        this.isRequesting = true;
        let that = this;
        API.call_POST('packs', rq, function (res) {
          that.isRequesting = false;
          if (res.success){
            that.$refs[that.refDF].hideModal();
            that.$success(that.$t('common.successText'));
            that.search(that.currentPage, 10);
          } else {
            that.$error(res.message);
          }
        }, function (res) {
          that.isRequesting = false;
        });
      },

      resetForm() {
        this.$reset(this.validModal);
        this.packTypeModalSelected = null;
      },
      clickDownload(data) {
        this.$loading(this.$t('common.downloading'), null, true, -1);
        let that = this;
        API.call_download('packs/' + data.id + '/files/' + data.fileName, {}, function (res) {
          that.$closeToastr();
          that.$saveFile(res, data.fileName + '.csv');
        }, function (res) {
          that.$closeToastr();
        });
      }
    },
    watch: {
      packTypeModalSelected: function (val) {
        if (val === null) {
          this.formModal.quantity = '';
          this.formModal.amount = '';
          return;
        }
        this.formModal.quantity = val.quantity.toLocaleString();
        this.formModal.amount = val.quantity.toLocaleString() + ' VNĐ';
      }
    }
  }
</script>

<style scoped>

</style>
