<template>
  <div class="app">
    <AppHeader fixed>
      <SidebarToggler class="d-lg-none" display="md" mobile/>
      <b-link class="navbar-brand" to="#">
        <img class="navbar-brand-full" src="img/brand/BRAND.png" width="89" height="25" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" src="img/brand/brand-2.png" width="30" height="30" alt="CoreUI Logo">
      </b-link>
      <SidebarToggler class="d-md-down-none" display="lg"/>
      <!--<MenuContainer :menuItems="nav"/>-->
      <b-navbar-nav class="ml-auto">
        <DefaultHeaderDropdownAccnt/>
        <locale-changer/>
      </b-navbar-nav>

      <!--<AsideToggler class="d-lg-none" mobile />-->
    </AppHeader>
    <div class="app-body">
      <AppSidebar fixed>
        <SidebarHeader/>
        <SidebarForm/>
        <SidebarNav :navItems="nav"></SidebarNav>
        <SidebarFooter/>
        <SidebarMinimizer/>
      </AppSidebar>
      <main class="main">
        <Breadcrumb :list="list"/>
        <div class="container-fluid">
          <router-view></router-view>
        </div>
      </main>
      <AppAside fixed>
        <!--aside-->
        <DefaultAside/>
      </AppAside>
    </div>
    <TheFooter>
      <!--footer-->
      <div>
        <a href="https://google.com.vn">CheckTax</a>
        <span class="ml-1">&copy; 2018</span>
      </div>
      <div class="ml-auto">
        <span class="mr-1">Powered by</span>
        <a href="mailto://thucvu164@gmail.com">Thuc Vu</a>
        <span class="mr-1"> based on CoreUI</span>
      </div>
    </TheFooter>
  </div>
</template>

<script>
  import nav from '@/_nav'
  import {
    Header as AppHeader,
    SidebarToggler,
    Sidebar as AppSidebar,
    SidebarFooter,
    SidebarForm,
    SidebarHeader,
    SidebarMinimizer,
    SidebarNav,
    Aside as AppAside,
    AsideToggler,
    Footer as TheFooter,
    Breadcrumb
  } from '@coreui/vue'
  import DefaultAside from './DefaultAside'
  import DefaultHeaderDropdownAccnt from './DefaultHeaderDropdownAccnt'
  import LocaleChanger from "./LocaleChanger";
  // import MenuContainer from './MenuContainer'


  export default {
    name: 'full',
    components: {
      LocaleChanger,
      AsideToggler,
      AppHeader,
      AppSidebar,
      AppAside,
      TheFooter,
      Breadcrumb,
      DefaultAside,
      DefaultHeaderDropdownAccnt,
      SidebarForm,
      SidebarFooter,
      SidebarToggler,
      SidebarHeader,
      SidebarNav,
      SidebarMinimizer,
      // MenuContainer
    },
    data() {
      return {
        nav: nav.items
      }
    },
    computed: {
      name() {
        return this.$route.name
      },
      list() {
        let that = this;
        return this.$route.matched.filter((route) => that.$t('title.' + route.name) || route.name)
      }
    }
  }
</script>
