<template>
  <HeaderDropdown right no-caret>
    <template slot="header">
      <div class="px-3">
        <span v-if="menuItem.icon" :class="menuItem.icon"/> {{menuItem.name}}
        <b-badge v-if="menuItem.badge && menuItem.badge.text" :variant="menuItem.badge.variant"
                 style="position: inherit">
          {{menuItem.badge.text}}
        </b-badge>
        <i class="fa fa-angle-down"/>
      </div>
    </template>
    <template slot="dropdown">
      <template v-for="menuChild in menuItem.children">
        <b-dropdown-item :to="menuChild.url">
          <span v-if="menuChild.icon" :class="menuChild.icon"/> {{menuChild.name}}
          <b-badge v-if="menuChild.badge && menuChild.badge.text" :variant="menuChild.badge.variant"
                   style="position: inherit">{{menuChild.badge.text}}
          </b-badge>
        </b-dropdown-item>
      </template>
    </template>
  </HeaderDropdown>
</template>

<script>
  import {HeaderDropdown} from '@coreui/vue'

  export default {
    name: 'MenuDropdown',
    components: {
      HeaderDropdown
    },
    props: {
      menuItem: {
        type: Object,
        required: true,
        default: () => {
        }
      }
    },
    data: () => {
      return {}
    }
  }
</script>
