// Here you can add other styles
.border-invalid {
  border: solid #f86c6b 1px !important;
  border-radius: 4px;
}

.border-success {
  border: solid #4dbd74 1px !important;
  border-radius: 4px;
}

.v-select .vs__selected-options {
  flex-wrap: nowrap !important;
}

.v-select input[type=search], .v-select input[type=search]:focus {
  flex-grow: 1;
  height: 30px;
  padding: 0 20px 0 10px !important;
  margin: 0 !important;
}

.card-user {
  .image {
    border-radius: 8px 8px 0 0;
    height: 150px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
  .image-plain {
    height: 0;
    margin-top: 110px;
  }
  .author {
    text-align: center;
    text-transform: none;
    margin-top: -65px;
    .title {
      color: #403D39;
      small {
        color: #ccc5b9;
      }
    }
  }
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;

    &.border-white {
      border: 5px solid #FFFFFF;
    }
    &.border-gray {
      border: 5px solid #ccc5b9;
    }
  }
  .card-title {
    font-weight: 600;
    line-height: 24px;
  }
  .description {
    margin-top: 10px;
  }
  .card-body {
    min-height: 200px;
  }

  &.card-plain {
    .avatar {
      height: 190px;
      width: 190px;
    }
  }
}

.sidebar {
  background-color: #292B35;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.app-header {
  background-color: #f3f3f3 !important;
  z-index: 100 !important;
}

.breadcrumb {
  font-weight: bold;
}

body {
  background-color: #F1F2F7;
  font-size: 1rem;
}

.modal-xl {
  max-width: 75%;
}
