<template>
  <div class="row">
    <div class="col-xl-4">
      <b-card class="card-user"
              img-src="http://cafefcdn.com/thumb_w/650/2017/big-c-highland-coffe-mo-cua-kinh-doanh-tai-toa-nha-artemis-dang-xay-dung-1-njzt-1495526581305.jpg"
              img-alt="...">
        <!--<div slot="image">-->
        <!--<img src="@/assets/img/background.jpg" alt="...">-->
        <!--</div>-->
        <div>
          <div class="author">
            <img class="avatar border-white"
                 src="https://image-us.24h.com.vn/upload/2-2018/images/2018-05-01/1525141037-502-thuy-anh-ke-chuyen-thay-hoa-hau-truong-ho-phuong-nga-anguyen-ba-ngoc-3093-1525078391-width1200height800.jpg"
                 alt="...">
            <h4 class="title">Thuc Vu
              <br>
              <a href="#">
                <small>thucvu164@gmail.com</small>
              </a>
            </h4>
          </div>
          <p class="description text-center">
            Công ty abcd
            <br> Số 1 đường xyz
            <br> Phone: abcd
          </p>
        </div>
      </b-card>
    </div>
    <div class="col-xl-8">
      <b-card class="card" :title="$t('userProfile.title')">
        <div>
          <b-row class="mb-0">
            <b-col md="4">
              <div class="form-group">
                {{$t('userProfile.username')}}
                <b-form-input></b-form-input>
              </div>
            </b-col>
            <b-col md="3">
              <div class="form-group">
                {{$t('userProfile.phone')}}
                <b-form-input></b-form-input>
              </div>
            </b-col>
            <b-col md="5">
              <div class="form-group">
                {{$t('userProfile.email')}}
                <b-form-input></b-form-input>
              </div>
            </b-col>
          </b-row>

          <b-row class="mb-0">
            <b-col md="4">
              <div class="form-group">
                {{$t('userProfile.name')}}
                <b-form-input></b-form-input>
              </div>
            </b-col>
            <b-col md="8">
              <div class="form-group">
                {{$t('userProfile.address')}}
                <b-form-input></b-form-input>
              </div>
            </b-col>
          </b-row>

          <b-row class="mb-3">
            <b-col md="6">
              <b-form-file :placeholder="$t('userProfile.plAva')"
                           v-model="fileAvatar" accept="image/*"></b-form-file>
            </b-col>
            <b-col md="6">
              <b-img :src="avaSrc" fluid/>
            </b-col>

          </b-row>

          <div class="text-center">
            <b-button type="info"
            >
              {{$t('userProfile.btnUpdate')}}
            </b-button>
          </div>
          <div class="clearfix"></div>
        </div>
      </b-card>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'UserProfile',
    beforeMount() {

    },
    data() {
      return {
        fileAvatar: null,
        avaSrc: 'https://image-us.24h.com.vn/upload/2-2018/images/2018-05-01/1525141037-502-thuy-anh-ke-chuyen-thay-hoa-hau-truong-ho-phuong-nga-anguyen-ba-ngoc-3093-1525078391-width1200height800.jpg'
      }
    },
    methods:{

    },
    watch: {
      fileAvatar: function (val) {
        let that = this;
        var reader = new FileReader();
        reader.readAsDataURL(val);
        reader.onload = function () {
          that.avaSrc = reader.result;
        };
        reader.onerror = function (error) {
          that.avaSrc = '';
        };
      }
    }
  }
</script>
