<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="11">
          <b-card no-body class="mx-3">
            <b-card-body class="p-4">
              <b-form>
                <div style="display: flex">
                  <div style="flex-wrap: wrap; min-width: 1px;width: 20000px"></div>
                  <locale-changer/>
                </div>
                <h1>{{$t('registerPage.pageHead')}}</h1>
                <p class="text-muted">{{$t('registerPage.headerDesc')}}<br/></p>
                <h4 class="text-muted">{{$t('registerPage.comInfoHeader')}} </h4>
                <div class="mb-3" ref="companyNameParent">
                  <b-input-group>
                    <b-input-group-prepend>
                      <b-input-group-text><span class="fa fa-bank fa-fw"></span></b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input type="text" class="form-control" :placeholder="$t('registerPage.plCompanyName')"
                                  v-model="companyName"
                                  autocomplete="companyName"/>
                  </b-input-group>
                </div>
                <div class="mb-3" ref="companyTaxcodeParent">
                  <b-input-group>
                    <b-input-group-prepend>
                      <b-input-group-text><span class="fa fa-tag fa-fw"></span></b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input type="text" class="form-control" :placeholder="$t('registerPage.plTaxCode')"
                                  v-model="companyTaxcode"
                                  autocomplete="companyTaxcode"/>
                  </b-input-group>
                </div>
                <div class="mb-3" ref="websiteParent">
                  <b-input-group>
                    <b-input-group-prepend>
                      <b-input-group-text><span class="fa fa-internet-explorer fa-fw"></span></b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input type="text" class="form-control" :placeholder="$t('registerPage.plWebsite')"
                                  v-model="website"
                                  autocomplete="website"/>
                  </b-input-group>
                </div>
                <div class="mb-3" ref="emailParent">
                  <b-input-group>
                    <b-input-group-prepend>
                      <b-input-group-text><span class="fa fa-envelope fa-fw"></span></b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input type="email" class="form-control" :placeholder="$t('registerPage.plEmail')"
                                  v-model="email"
                                  autocomplete="email"/>
                  </b-input-group>
                </div>
                <div class="mb-3" ref="phoneParent">
                  <b-input-group>
                    <b-input-group-prepend>
                      <b-input-group-text><span class="fa fa-phone fa-fw"></span></b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input type="text" class="form-control" :placeholder="$t('registerPage.plPhone')"
                                  v-model="phone"
                                  autocomplete="phone"/>
                  </b-input-group>
                </div>
                <div class="mb-3" ref="fileLicenseParent">
                  <b-input-group>
                    <b-input-group-prepend>
                      <b-input-group-text><span class="fa fa-file fa-fw"></span></b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-file v-model="fileLicense" :placeholder="$t('registerPage.plLicense')" multiple
                                 ref="fileLicense"/>
                  </b-input-group>
                </div>
                <div class="mb-3" ref="productTypeParent">
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><span class="fa fa-tv fa-fw"></span></b-input-group-text>
                      </b-input-group-prepend>
                      <v-select :options="optionsProductType" label="name" multiple style="flex-grow: 1"
                                v-model="productType"
                                :placeholder="$t('registerPage.dfNameProductType')"
                                ></v-select>
                    </b-input-group>
                </div>

                <b-row>
                  <b-col md="6" class="mb-3" ref="logoSrcParent">
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><span class="fa fa-image fa-fw"></span></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-file v-model="fileLogo" :placeholder="$t('registerPage.plLogo')"
                                   accept="image/*"
                                   ref="fileLogo"/>
                    </b-input-group>
                  </b-col>
                  <b-col md="6" class="mb-3">
                    <b-img :src="logoSrc" @error="errorImg()" fluid/>
                  </b-col>
                </b-row>

                <h4 class="text-muted">{{$t('registerPage.comAddHeader')}}</h4>
                <b-row>
                  <b-col md="6" class="mb-3" ref="provinceSelectedParent">
                    <v-select :options="optionsProvince" v-model="provinceSelected" label="name" :clearable="false"></v-select>
                  </b-col>
                  <b-col md="6" class="mb-3" ref="districtSelectedParent">
                    <v-select :options="optionsDistrict" v-model="districtSelected" label="name" :clearable="false"/>
                  </b-col>
                </b-row>
                <div class="mb-3" ref="addressParent">
                  <b-input-group>
                    <b-input-group-prepend>
                      <b-input-group-text><span class="fa fa-map fa-fw"></span></b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input type="text" class="form-control" :placeholder="$t('registerPage.plCompanyAddress')"
                                  v-model="address"
                                  autocomplete="address"/>
                  </b-input-group>
                </div>
                <h4 class="text-muted">{{$t('registerPage.contactInfoHeader')}}</h4>
                <div class="mb-3" ref="emailContactParent">
                  <b-input-group>
                    <b-input-group-prepend>
                      <b-input-group-text><span class="fa fa-envelope fa-fw"></span></b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input type="email" class="form-control" :placeholder="$t('registerPage.plContactEmail')"
                                  v-model="emailContact"
                                  autocomplete="emailContact"/>
                  </b-input-group>
                </div>
                <div class="mb-3" ref="phoneContactParent">
                  <b-input-group>
                    <b-input-group-prepend>
                      <b-input-group-text><span class="fa fa-phone fa-fw"></span></b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input type="text" class="form-control" :placeholder="$t('registerPage.plContactPhone')"
                                  v-model="phoneContact"
                                  autocomplete="phoneContact"/>
                  </b-input-group>
                </div>
                <b-button variant="success" block @click="registerCompany()"><span class="fa fa-spin fa-spinner" v-if="isRegister"></span> {{$t('registerPage.btnRegister')}}
                </b-button>
              </b-form>
            </b-card-body>
            <b-card-footer class="p-4">
              <b-row>
                <b-col cols="6">
                  <b-button block class="btn btn-facebook" @click="backToLogin()"><span class="fa fa-arrow-left"></span>
                    {{$t('registerPage.btnBackToLogin')}}
                  </b-button>
                </b-col>
                <b-col cols="6">
                  <b-button block class="btn btn-danger" type="button" @click="clearForm()"><span
                    class="fa fa-times"></span> {{$t('registerPage.btnResetForm')}}
                  </b-button>
                </b-col>
              </b-row>
            </b-card-footer>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
  import API from './../../shared/API'
  import LocaleChanger from "../../containers/LocaleChanger";

  export default {
    name: 'Register',
    components: {API, LocaleChanger},
    beforeMount() {
      this.provinceSelected = this.optionsProvince[0];
      this.districtSelected = this.optionsDistrict[0];
      let that = this;
      API.call_GET('province/cbb', {}, function (data) {
        if (data.success)
          that.optionsProvince = that.optionsProvince.concat(data.list);
      });
      API.call_GET('product/type/cbb', {}, function (data) {
        if (data.success)
          that.optionsProductType = data.list;
      });
    },
    data() {
      return {
        isRegister: false,
        productType: [],
        optionsProvince: [
          {id: -1, name: this.$t('registerPage.dfNameProvince')},
        ],
        optionsDistrict: [
          {id: -1, name: this.$t('registerPage.dfNameDistrict')},
        ],
        optionsDistrictDefault: [
          {id: -1, name: this.$t('registerPage.dfNameDistrict')},
        ],
        optionsProductType: [
        ],
        provinceSelected: null,
        districtSelected: null,
        fileLicense: null,
        companyName: '',
        companyTaxcode: '',
        email: '',
        fileLogo: null,
        logoSrc: '',
        website: '',
        phone: '',
        address: '',
        emailContact: '',
        phoneContact: '',
        validForm: [
          {
            property: 'companyName', error: [
              {type: 'NULL', errorDesc: 'Xin mời nhập tên doanh nghiệp', errorDesc_en: 'Please input company name'},
              {
                type: 'MAX-LENGTH',
                data: 200,
                errorDesc: 'Tên không được quá 200 ký tự',
                errorDesc_en: 'Company name must be less than 200 characters'
              },
            ]
          },
          {
            property: 'logoSrc', error: [
              {
                type: 'NULL',
                errorDesc: 'Xin mời nhập logo của công ty đúng định dạng ảnh',
                errorDesc_en: 'Please choose company\'s logo with correct image format'
              },
            ]
          },
          {
            property: 'companyTaxcode', error: [
              {
                type: 'NULL',
                errorDesc: 'Xin mời nhập mã số thuế doanh nghiệp',
                errorDesc_en: 'Please input company\'s tax code'
              },
              {
                type: 'MAX-LENGTH',
                data: 50,
                errorDesc: 'Mã không được quá 50 ký tự',
                errorDesc_en: 'Tax code must be less than 50 characters'
              },
            ]
          },
          {
            property: 'website', error: [
              {
                type: 'MAX-LENGTH',
                data: 100,
                errorDesc: 'Trang web không được quá 100 ký tự',
                errorDesc_en: 'Web page must be less than 100 characters'
              },
              {
                type: 'REGEX',
                data: /^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$/,
                errorDesc: 'Không đúng định dạng trang web',
                errorDesc_en: 'Please input correct website format'
              },
            ]
          },
          {
            property: 'email', error: [
              {
                type: 'MAX-LENGTH',
                data: 200,
                errorDesc: 'Email không quá 200 ký tự',
                errorDesc_en: 'Email must be less than 200 characters'
              },
              {
                type: 'NULL',
                errorDesc: 'Xin mời nhập email doanh nghiệp',
                errorDesc_en: 'Please input email of your company'
              },
              {
                type: 'EMAIL',
                errorDesc: 'Không đúng định dạng email',
                errorDesc_en: 'Please input correct email format'
              },
            ]
          },
          {
            property: 'phone', error: [
              {
                type: 'MAX-LENGTH',
                data: 15,
                errorDesc: 'Xin nhập đúng định dạng số điện thoại',
                errorDesc_en: 'Please input correct phone number format'
              },
              {
                type: 'NULL',
                errorDesc: 'Xin mời nhập số điện thoại doanh nghiệp',
                errorDesc_en: 'Please input phone number of your company'
              },
              {
                type: 'REGEX',
                data: /\+?\d+(-\d+)*/,
                errorDesc: 'Không đúng định dạng số điện thoại',
                errorDesc_en: 'Please input correct phone number format'
              },
            ]
          },
          {
            property: 'emailContact', error: [
              {
                type: 'MAX-LENGTH',
                data: 200,
                errorDesc: 'Email không quá 200 ký tự',
                errorDesc_en: 'Email must be less than 200 characters'
              },
              {type: 'NULL', errorDesc: 'Xin mời nhập email liên hệ', errorDesc_en: 'Please input email contact'},
              {
                type: 'EMAIL',
                errorDesc: 'Không đúng định dạng email',
                errorDesc_en: 'Please input correct email format'
              },
            ]
          },
          {
            property: 'phoneContact', error: [
              {
                type: 'MAX-LENGTH',
                data: 15,
                errorDesc: 'Xin nhập đúng định dạng số điện thoại',
                errorDesc_en: 'Please input correct phone number format'
              },
              {
                type: 'NULL',
                errorDesc: 'Xin mời nhập số điện thoại liên hệ',
                errorDesc_en: 'Please input contact phone number'
              },
              {
                type: 'REGEX',
                data: /\+?\d+(-\d+)*/,
                errorDesc: 'Không đúng định dạng điện thoại',
                errorDesc_en: 'Please input correct phone number format'
              },
            ]
          },
          {
            property: 'address', error: [
              {
                type: 'NULL',
                errorDesc: 'Xin mời nhập địa chỉ doanh nghiệp',
                errorDesc_en: 'Please input address of your company'
              },
              {type: 'MAX-LENGTH', data: 500, errorDesc: 'Mã không được quá 500 ký tự'},
            ]
          },
          {
            property: 'provinceSelected', error: [
              {
                type: 'SELECT-OBJECT',
                key: 'id',
                data: [-1],
                errorDesc: 'Xin mời chọn tỉnh/ thành phố của doanh nghiệp',
                errorDesc_en: 'Please choose your company\'s province'
              },
            ]
          },
          {
            property: 'districtSelected', error: [
              {
                type: 'SELECT-OBJECT',
                key: 'id',
                data: [-1],
                errorDesc: 'Xin mời chọn quận/ huyện của doanh nghiệp',
                errorDesc_en: 'Please choose your company\'s district'
              },
            ]
          },
          {
            property: 'fileLicense', error: [
              {
                type: 'NULL',
                errorDesc: 'Xin chọn danh sách file giấy phép',
                errorDesc_en: 'Please input your company\'s business license'
              },
            ]
          },
          {
            property: 'productType', error: [
              {
                type: 'ARRAY-0',
                errorDesc: 'Xin chọn danh sách loại sản phẩm kinh doanh',
                errorDesc_en: 'Please select the type of business product'
              },
            ]
          },
        ],
      }
    },
    methods: {
      registerCompany() {
        if (this.isRegister) return;
        if (!this.$valid(this.validForm)) return;
        //create request here
        let productType = [];
        for (let i = 0; i < this.productType.length; i++)
          productType.push(this.productType[i].id);
        let rq = {
          companyName: this.companyName,
          taxCode: this.companyTaxcode,
          website: this.website,
          email: this.email,
          phone: this.phone,
          province: this.provinceSelected.id,
          productType: productType,
          district: this.districtSelected.id,
          address: this.address,
          emailContact: this.emailContact,
          phoneContact: this.phoneContact,
          numbLicense: this.fileLicense.length
        };
        this.isRegister = true;
        let that = this;
        API.call_POST('auth/signUpCompany', rq, function (res) {
          if (res.success){
            //upload
            let keyAva = '', keyL = '';
            if (res.list[0].type === 0) {
              keyAva = res.list[0].code;
              keyL = res.list[1].code;
            } else {
              keyAva = res.list[1].code;
              keyL = res.list[0].code;
            }
            that.uploadData(keyAva, keyL);
          } else {
            that.isRegister = false;
            that.$error(res.message, true);
          }
        }, function (res) {
          that.isRegister = false;
          that.$error(res.message, true);
        });
      },
      setFormBlank() {
        this.provinceSelected = this.optionsProvince[0];
        this.districtSelected = this.optionsDistrict[0];
        this.companyName = '';
        this.companyTaxcode = '';
        this.email = '';
        this.website = '';
        this.phone = '';
        this.address = '';
        this.emailContact = '';
        this.phoneContact = '';
      },
      clearForm() {
        this.setFormBlank();
        this.$reset(this.validForm);
        this.$refs.fileLicense.reset();
        this.$refs.fileLogo.reset();
        this.logoSrc = '';
      },
      backToLogin() {
        this.$router.replace({name: 'Login'});
      },
      errorImg() {
        this.logoSrc = '';
      },
      uploadData(keyAva, keyLicense) {
        let rq = {
          company: this.email,
          keyLicense: keyLicense,
          keyAvatar: keyAva,
          licenses: this.fileLicense,
          avatars: this.fileLogo
        };
        let that = this;
        that.$loading(that.$t('registerPage.loadingUpload'), null, true, -1, false);
        API.call_upload('auth/uploadCompanyImg', rq, function (res) {
          that.$closeToastr();
          that.isRegister = false;
          if (res.success){
            that.$router.replace({name: 'RegisterSuccess'});
          }
          else {
            that.$error(res.message, true);
          }
        }, function (res) {
          that.$closeToastr();
          that.isRegister = false;
        });
      }
    },
    watch: {
      fileLogo: function (val) {
        if (val === null || val === undefined) return;
        let that = this;
        var reader = new FileReader();
        reader.readAsDataURL(val);
        reader.onload = function () {
          that.logoSrc = reader.result;
        };
        reader.onerror = function (error) {
          that.logoSrc = '';
        };
      },
      provinceSelected: function (val) {
        let that = this;
        API.call_GET('province/cbb/' + val.id, {}, function (data) {
          if (data.success) {
            that.optionsDistrict = that.optionsDistrictDefault.concat(data.list);
            that.districtSelected = that.optionsDistrict[0];
          }
        });
      }
    }
  }
</script>
