<template>
  <DefaultForm :header="header" :onSearch="search" :ref="refDF" :type-search="[1, 0, 0]">
    <template slot="search">
      <b-row>

        <b-col md="3">
          <div class="form-group">
            {{$t('admin.pack.search.packType')}}
            <v-select :options="optionsPackType" v-model="packTypeSelected" label="name"
                      :placeholder="$t('admin.pack.search.packType')"></v-select>
          </div>
        </b-col>

        <b-col md="3">
          <div class="form-group">
            {{$t('admin.pack.search.status')}}
            <v-select :options="optionsStt" v-model="sttSearch" label="name" :clearable="false"></v-select>
          </div>
        </b-col>

        <b-col md="3">
          <div class="form-group">
            {{$t('admin.pack.search.time')}}
            <date-picker v-model="searchDate" range confirm style="width: 100%" :lang="lang"
                         :format="formatLang"></date-picker>
          </div>
        </b-col>

        <b-col md="3">
          <div class="form-group">
            {{$t('admin.pack.search.companyName')}}
            <b-form-input v-model="searchNameCompany"></b-form-input>
          </div>
        </b-col>
      </b-row>
    </template>
    <template slot="viewData">
      <b-table responsive :items="tblData" :fields="fields" striped bordered hover
               caption-top>
        <template slot="packName" slot-scope="data">
          {{data.item.packType.name}}
        </template>
        <template slot="companyName" slot-scope="data">
          {{data.item.company.companyName}}
        </template>
        <template slot="quantity" slot-scope="data">
          {{data.item.packType.quantity.toLocaleString()}}
        </template>
        <template slot="amount" slot-scope="data">
          {{data.item.packType.amount.toLocaleString() + ' VNĐ'}}
        </template>
        <template slot="stt" slot-scope="data">
          <b-badge :variant="getVariantStatus(data.item.status)">{{getStatus(data.item.status)}}</b-badge>
        </template>
        <template slot="action" slot-scope="data">
          <b-link @click="clickInfo(data.item)" v-b-tooltip :title="$t('admin.pack.table.clEdit')"><span
            class="fa fa-edit"></span></b-link>
          &nbsp;
          <b-link @click="clickDownload(data.item)" v-b-tooltip :title="$t('admin.pack.table.clDownload')"
                  v-if="data.item.status === 'PAID' || data.item.status === 'APPROVED'"><span
            class="fa fa-download"></span></b-link>
        </template>
      </b-table>
    </template>
    <template slot="modal">
      <div class="col-md-12">
        <b-row>
          <b-col md="12" class="form-group">
            {{$t('admin.pack.modal.companyName')}}
            <b-form-input v-model="formModal.companyName" disabled></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6" class="form-group">
            {{$t('admin.pack.modal.taxCode')}}
            <b-form-input v-model="formModal.companyTaxCode" disabled></b-form-input>
          </b-col>
          <b-col md="6" class="form-group">
            {{$t('admin.pack.modal.emailCom')}}
            <b-form-input v-model="formModal.emailCompany" disabled></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6" class="form-group">
            {{$t('admin.pack.modal.contactMail')}}
            <b-form-input v-model="formModal.contactEmail" disabled></b-form-input>
          </b-col>
          <b-col md="6" class="form-group">
            {{$t('admin.pack.modal.contactPhone')}}
            <b-form-input v-model="formModal.contactPhone" disabled></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6" class="form-group">
            {{$t('admin.pack.modal.packType')}}
            <v-select :options="optionsPackType" label="name" v-model="packTypeModalSelected" disabled></v-select>
          </b-col>
          <b-col md="6" class="form-group">
            {{$t('admin.pack.modal.status')}}
            <v-select :options="optionsStt" label="name" v-model="formModal.status" disabled></v-select>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6" class="form-group">
            {{$t('company.regPack.modal.quantity')}}
            <b-form-input v-model="formModal.quantity" disabled></b-form-input>
          </b-col>
          <b-col md="6" class="form-group">
            {{$t('company.regPack.modal.amount')}}
            <b-form-input v-model="formModal.amount" disabled></b-form-input>
          </b-col>
        </b-row>
      </div>
    </template>
    <template slot="modal-button">

      <b-btn variant="info" @click="clButton('APPROVED')" v-if="formModal.sttStr === 'SENT'">
        {{$t('admin.pack.modal.btnAccept')}}
      </b-btn>

      <b-btn variant="warning" @click="clButton('REJECTED')" v-if="formModal.sttStr === 'SENT'">
        {{$t('admin.pack.modal.btnReject')}}
      </b-btn>

      <b-btn variant="success" @click="clButton('PAID')"
             v-if="formModal.sttStr === 'APPROVED'">
        {{$t('admin.pack.modal.btnPaid')}}
      </b-btn>

      <b-btn variant="danger" @click="clButton('DEACTIVATE')"
             v-if="formModal.sttStr === 'APPROVED' || formModal.sttStr === 'PAID'">
        {{$t('admin.pack.modal.btnCancelPack')}}
      </b-btn>
      &nbsp;
      <b-btn variant="dark" @click="$refs[refDF].hideModal()">{{$t('admin.pack.modal.btnCancel')}}</b-btn>
    </template>
  </DefaultForm>
</template>

<script>
  import DefaultForm from "../../containers/DefaultForm";
  import API from '../../shared/API'

  export default {
    name: "Pack",
    components: {
      DefaultForm,
      API
    },
    data() {
      return {
        header: this.$t('admin.pack.header'),
        refDF: this.$safeRef(),
        lang: this.$getLang(),
        formatLang: this.$getFormat(),
        currentPage: 0,
        searchDate: '',
        searchNameCompany: '',
        optionsPackType: [],
        optionsStt: [
          {id: 0, name: this.$t('admin.pack.stt.default'), key: 'ALL'},
          {id: 1, name: this.$t('admin.pack.stt.registered'), key: 'SENT'},
          {id: 2, name: this.$t('admin.pack.stt.rejected'), key: 'REJECTED'},
          {id: 3, name: this.$t('admin.pack.stt.approved'), key: 'APPROVED'},
          {id: 4, name: this.$t('admin.pack.stt.paid'), key: 'PAID'},
          {id: 5, name: this.$t('admin.pack.stt.deactive'), key: 'DEACTIVATE'},
        ],
        sttSearch: null,
        packTypeSelected: null,
        packTypeModalSelected: null,
        tblData: [],
        fields: [
          {key: 'rowNo', label: this.$t('admin.pack.table.no')},
          {key: 'companyName', label: this.$t('admin.pack.table.companyName')},
          {key: 'packName', label: this.$t('admin.pack.table.packType')},
          {key: 'quantity', label: this.$t('admin.pack.table.quantity')},
          {key: 'amount', label: this.$t('admin.pack.table.amount')},
          {key: 'stt', label: this.$t('admin.pack.table.stt')},
          {key: 'action', label: ''},
        ],
        formModal: {
          id: '',
          quantity: '',
          amount: '',
          status: null,
          companyName: '',
          companyTaxCode: '',
          emailCompany: '',
          contactEmail: '',
          contactPhone: '',
          sttStr: '',
        },
      }
    },
    beforeMount() {
      let that = this;
      this.sttSearch = this.optionsStt[0];
      API.call_GET('packTypes/cbb', {}, function (res) {
        if (res.success) {
          that.optionsPackType = res.list;
        }
      });
    },

    mounted() {
      this.search(0, 10);
    },

    methods: {
      search: function (pageNum, pageSize) {
        this.currentPage = pageNum;
        let rq = {
          page: pageNum,
          size: pageSize,
          packTypeId: this.packTypeSelected == null ? 0 : this.packTypeSelected.id,
          status: this.sttSearch.id,
          companyId: 0,
          fromDate: this.moment(this.searchDate[0]).format('DD/MM/YYYY HH:mm:ss'),
          toDate: this.moment(this.searchDate[1]).format('DD/MM/YYYY HH:mm:ss'),
          companyName: this.searchNameCompany
        };
        let that = this;
        API.call_GET('packs', rq, function (res) {
          that.$refs[that.refDF].unlock();
          if (res.success) {
            that.tblData = res.list;
            that.$refs[that.refDF].setTotal(res.totalElements);
          }
          else {
            that.$error(res.message);
          }
        }, function (res) {
          that.$refs[that.refDF].unlock();
        });

      },

      getStatus(stt) {
        return this.optionsStt.filter(function (ob) {
          return stt == ob.key;
        })[0].name;
      },

      getVariantStatus(stt) {
        if (stt === 'SENT') return 'secondary';
        if (stt === 'REJECTED') return 'warning';
        if (stt === 'APPROVED') return 'info';
        if (stt === 'PAID') return 'success';
        if (stt === 'DEACTIVATE') return 'danger';
        return '';
      },

      clButton(type) {
        let messDialog = '';
        let rq = {};
        let url;
        switch (type) {
          case 'APPROVED':
            messDialog = this.$t('admin.pack.confirm.approve');
            url = 'sAdmin/packs/approve/' + this.formModal.id;
            break;
          case 'REJECTED':
            let reason = this.$t('admin.pack.confirm.rejectReason');
            messDialog = '<form autocomplete="off" class="dg-form">' +
              '<label style="font-size: 13px;">' + this.$t('admin.pack.confirm.reject') +
              '</label> ' +
              '<input type="text" placeholder="' + reason + '" ' +
              'autocomplete="off" id="rejectReasonID" ' +
              'style="width: 100%; margin-top: 10px; padding: 5px 15px; font-size: 16px; border-radius: 4px; border: 2px solid rgb(238, 238, 238);">' +
              '</form>';
            url = 'sAdmin/packs/reject/' + this.formModal.id;
            break;
          case 'PAID':
            messDialog = this.$t('admin.pack.confirm.paid');
            url = 'sAdmin/packs/paid/' + this.formModal.id;
            break;
          case 'DEACTIVATE':
            messDialog = this.$t('admin.pack.confirm.cancel');
            url = 'sAdmin/packs/deactivate/' + this.formModal.id;
            break;
        }
        let that = this;
        this.$dialog.confirm(messDialog, {
          html: true,
          loader: true,
          okText: that.$t('common.okText'),
          cancelText: that.$t('common.cancelText'),
        }).then(dialog => {
          let reason = document.getElementById("rejectReasonID").value;
          if (that.$isNull(reason)){
            dialog.loading(false);
            return;
          } else {
            dialog.loading(true);
          }
          rq.reason = reason;
          API.call_PUT(url, rq, function (res) {
            if (res.success) {
              that.$refs[that.refDF].hideModal();
              that.$success(that.$t('common.successText'));
              that.search(that.currentPage, 10);
            } else {
              that.$error(res.message);
            }
            dialog.loading(false);
            dialog.close();
          }, function (res) {
            dialog.loading(false);
            dialog.close();
          });
        });
      },

      clickInfo(data) {
        this.formModal.companyName = data.company.companyName;
        this.formModal.id = data.id;
        this.formModal.companyTaxCode = data.company.taxCode;
        this.formModal.emailCompany = data.company.email;
        this.formModal.contactEmail = data.company.contactEmail;
        this.formModal.contactPhone = data.company.contactPhone;
        this.packTypeModalSelected = this.optionsPackType.filter(function (ob) {
          return ob.id === data.packType.id;
        })[0];
        this.formModal.status = this.optionsStt.filter(function (ob) {
          return ob.key === data.status;
        })[0];
        this.formModal.sttStr = data.status;
        this.$refs[this.refDF].openModal(this.getVariantStatus(data.status), this.$t('admin.pack.modal.header'));
      },

      clickDownload(data) {
        this.$loading(this.$t('common.downloading'), null, true, -1);
        let that = this;
        API.call_download('packs/' + data.id + '/files/' + data.fileName, {}, function (res) {
          that.$closeToastr();
          that.$saveFile(res, data.fileName + '.csv');
        }, function (res) {
          that.$closeToastr();
        });
      }
    },
    watch: {
      packTypeModalSelected: function (val) {
        if (val === null) {
          this.formModal.quantity = '';
          this.formModal.amount = '';
          return;
        }
        this.formModal.quantity = val.quantity.toLocaleString();
        this.formModal.amount = val.quantity.toLocaleString() + ' VNĐ';
      }
    }
  }
</script>

<style scoped>

</style>
